@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  background-color: #222;
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 100px;
  margin: 0;
  margin-top: 45px;
}

.container {
  width: 1900px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.after {
  position: absolute;
  top: 50px;
  left: 350px;
  z-index: 99;
}

.search {
  width: 1280px;
  height: 700px;
  text-align: center;
  left: 0;
  right: 0;
  top: 35%;
  left: 300px;
  position: absolute;
  z-index: 100;
}

.overlayContain {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  text-align: center;
}

.overlay {
  width: 1280px;
  height: 700px;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0052d4,
    #65c7f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0052d4,
    #65c7f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  right: 0;
  position: absolute;
  left: 320px;
  z-index: 8;
  top: 83px;
  border-radius: 55px;
}

.inputCity {
  width: 400px;
  padding: 30px;
  border: none;
  outline: none;
  border-radius: 55px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin-top: 50px;
  background-color: #eee;
}

.inpAfter {
  width: 230px;
  padding: 10px;
  font-size: 14px;
  padding-left: 15px;
}

.inputCity:hover {
  background-color: #ddd;
  transition: 0.5s;
}

.submitCity {
  padding: 20px;
  border-radius: 100%;
  border: none;
  margin-left: -70px;
  color: white;
  background-color: #ecb150;
}

.sbmAfter {
  padding: 8px;
  font-size: 10px;
  margin-left: -35px;
}

.submitCity:hover {
  background-color: #ed9f1f;
  cursor: pointer;
  transition: 0.5s;
}

label {
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

#backgroundCanvas {
  border-radius: 55px;
}

.currentOverview {
  position: fixed;
  max-width: 300px;
  right: 0;
  left: 330px;
  top: 150px;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.currentLocationDetails {
  text-align: left;
  padding: 20px;
  padding-top: 0;
}

#currentCityDsp,
#currentCountryDsp {
  font-size: 16px;
}

svg {
  margin-top: 10px;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  padding-right: 42px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.6px;
}

#currentTempDsp {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.state {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: -10px;
  margin-left: -50px;
}

#iconDsp {
  width: 40px;
  height: 40px;
  /* filter: brightness(160%) contrast(1) grayscale(5); */
}

.dashboard {
  width: 960px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 55px;
  left: 640px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 83px;
  text-align: center;
}

.smallCharts {
  display: flex;
  flex-direction: row;
}

.smallCharts > div {
  padding: 20px;
}

#humidityChart,
#chanceRainChart {
  max-width: 100px;
  max-height: 100px;
}
